<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Unity Project\PenghuClient\LuaEncoder\luajit\luajit.exe</StartProgram>
    <StartArguments>Game.lua</StartArguments>
    <StartWorkingDirectory>G:\unity Projects\LuaFramework_UGUI\Assets</StartWorkingDirectory>
  </propertyGroup>
</Project>